
@import url("https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900");
/* 
---------------------------------------------
reset
--------------------------------------------- 
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, div
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q,
s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
figure, header, nav, section, article, aside, footer, figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

html {
  scroll-behavior: smooth;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

header, nav, section, article, aside, footer, hgroup {
  display: block;
}

* {
  box-sizing: border-box;
}

html, body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  background-color: #fff;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none !important;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul {
  margin-bottom: 0px;
}

/* 
---------------------------------------------
global styles
--------------------------------------------- 
*/
html,
body {
  background: #fff;
  font-family: "Raleway", sans-serif;
}

::selection {
  background:#F8C62F;
  color: #fff;
}

::-moz-selection {
  background:#F8C62F;
  color: #fff;
}

.section {
  position: relative;
  padding-top: 40px;
}


.hr {
  bottom: 0px;
  width: 100%;
  height: 1px;
  margin-top: 100px;
  border-bottom: 1px solid #eee;
}

.left-heading.light .section-title {
  color: #ffffff;
}

.left-heading .section-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 42px;
  color: #1e1e1e;
  letter-spacing: 0.25px;
  margin-bottom: 30px;
  position: relative;
}

.center-heading {
  text-align: right;
}

.center-heading .section-title {
  font-weight: 500;
  font-size: 28px;
  color: #1e1e1e;
  letter-spacing: 1.75px;
  line-height: 38px;
  margin-bottom: 20px;
}

.center-heading.colored .section-title {
  color: #ffffff;
}

.center-text {
  text-align: right;
  font-weight: 400;
  font-size: 16px;
  color: #777;
  line-height: 28px;
  letter-spacing: 1px;
  margin-bottom: 50px;
}

.center-text.colored {
  color: #fff;
}

.center-text p {
  font-size: 15px;
  color: #777;
  margin-bottom: 30px;
}

.left-text {
  font-weight: 400;
  font-size: 16px;
  color: #777;
  line-height: 28px;
  letter-spacing: 1px;
}

.left-text.light {
  color: #fff;
}

.left-text p {
  margin-bottom: 30px;
}

.left-text p.dark {
  color: #3B566E;
}

.padding-bottom-top-60 {
  padding-top: 60px !important;
  padding-bottom: 60px !important;
}

.padding-bottom-80 {
  padding-bottom: 80px !important;
}

.padding-bottom-100 {
  padding-bottom: 100px !important;
}

.border-bottom {
  border-bottom: 1px solid #eee !important;
}

.mbottom-30 {
  margin-bottom: 30px !important;
}

.align-self-center {
  -ms-flex-item-align: center !important;
  align-self: center !important;
}

.align-self-bottom {
  -ms-flex-item-align: flex-end !important;
  align-self: flex-end !important;
}

.padding-bottom-0 {
  padding-bottom: 0px !important;
}

.padding-top-0 {
  padding-top: 0px !important;
}

.padding-top-80 {
  padding-top: 80px !important;
}

.padding-top-70 {
  padding-top: 70px !important;
}

.padding-top-20 {
  padding-top: 20px !important;
}

.margin-bottom-0 {
  margin-bottom: 0px !important;
}

.margin-bottom-30 {
  margin-bottom: 30px !important;
}

.margin-top-30 {
  margin-top: 30px !important;
}

.margin-top-15 {
  margin-top: 15px !important;
}

.margin-bottom-45 {
  margin-bottom: 45px !important;
}

.margin-bottom-20 {
  margin-bottom: 20px !important;
}

.margin-bottom-60 {
  margin-bottom: 60px !important;
}

.margin-bottom-100 {
  margin-bottom: 100px !important;
}

@media (max-width: 991px) {
  html, body {
    overflow-x: hidden;
  }
  .mobile-top-fix {
    margin-top: 30px;
    margin-bottom: 0px;
  }
  .mobile-bottom-fix {
    margin-bottom: 30px;
  }
  .mobile-bottom-fix-big {
    margin-bottom: 60px;
  }
}

a.main-button-slider {
  font-size: 13px;
  border-radius: 20px;
  padding: 12px 20px;
  background-color: #f56e4a;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.25px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

a.main-button-slider:hover {
  background-color: #f8c634;
}

a.main-button {
  font-size: 13px;
  border-radius: 20px;
  padding: 12px 20px;
  background-color: #8261ee;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.25px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

a.main-button:hover {
  background-color: #F8C62F;
}

button.main-button {
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 13px;
  border-radius: 20px;
  padding: 12px 20px;
  background-color: #f56e4a;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.25px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

button.main-button:hover {
  background-color: #F8C62F;
}

/******************************************GALLERY******************************************/

@-moz-keyframes gallery {
  100% {
    opacity: 1;		}
}

@-webkit-keyframes gallery {
  100% {
    opacity: 1;		}
}

@-ms-keyframes gallery {
  100% {
    opacity: 1;		}
}

@keyframes gallery {
  100% {
    opacity: 1;		}
}

.gallery {
  padding: 3.5em;
  position: relative;
  overflow: hidden;
  min-height: 37em;
}

  @media screen and (max-width: 980px) {

    .gallery {
      padding: 2em;
      min-height: 20em;
    }

      .gallery header h2 {
        margin-bottom: 1em;
      }

  }

  @media screen and (max-width: 480px) {

    .gallery {
      padding: 1em;
    }

  }

  .gallery header {
    display: -ms-flexbox;
    -ms-flex-pack: justify;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
  }

    .gallery header.special {
      -moz-justify-content: center;
      -webkit-justify-content: center;
      -ms-justify-content: center;
      justify-content: center;
    }

    @media screen and (max-width: 736px) {

      .gallery header {
        display: block;
      }

    }

    @media screen and (max-width: 480px) {

      .gallery header h2 {
        margin-bottom: .5em;
      }

    }

  .gallery footer {
    text-align: center;
    margin-top: 4em;
  }

  .gallery .content {
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -moz-justify-content: -moz-flex-start;
    -webkit-justify-content: -webkit-flex-start;
    -ms-justify-content: -ms-flex-start;
    justify-content: flex-start;
  }

    .gallery .content .media {
      -moz-animation: gallery 0.75s ease-out 0.4s forwards;
      -webkit-animation: gallery 0.75s ease-out 0.4s forwards;
      -ms-animation: gallery 0.75s ease-out 0.4s forwards;
      animation: gallery 0.75s ease-out 0.4s forwards;
      margin-bottom: 0;
      overflow: hidden;
      opacity: 0;
      position: relative;
      width: 25%;
    }

      .gallery .content .media a {
        display: block;
      }

      .gallery .content .media img {
        -moz-transition: -moz-transform 0.2s ease-in-out;
        -webkit-transition: -webkit-transform 0.2s ease-in-out;
        -ms-transition: -ms-transform 0.2s ease-in-out;
        transition: transform 0.2s ease-in-out;
        max-width: 100%;
        height: auto;
        vertical-align: middle;
      }

      .gallery .content .media:hover img {
        -moz-transform: scale(1.075);
        -webkit-transform: scale(1.075);
        -ms-transform: scale(1.075);
        transform: scale(1.075);
      }

      @media screen and (max-width: 736px) {

        .gallery .content .media {
          width: 50%;
        }

      }

      @media screen and (max-width: 480px) {

        .gallery .content .media {
          width: 100%;
        }

      }

  }

/***************************************************menu************************************/

img {
	max-width: 100%;
	height: auto;
}
h1, h2, h3, h4, h5, h6 {
	font: 700 54px/1.2 'Crimson Text', serif;
	margin: 0 0 20px;
	color: #d43a11;
}

h2 {
	font-size: 48px;
	margin: 0 0 18px;
}

h3 {
	font-size: 40px;
	margin: 0 0 15px;
}

h4 {
	font-size: 20px;
	margin: 0 0 10px;
}

h5 {
	font-size: 18px;
	font-weight: 400;
	margin: 0 0 8px;
}

h6 {
	font-size: 16px;
	font-weight: 400;
	margin: 0 0 5px;
}

.module-title
 {
	font: 700 28px/1.2 'Dancing Script', cursive;
	margin: 0 0 18px;
}

.module-title {
	font-size: 50px;
}

.module-subtitle {
	font: 400 16px/1.2 'Crimson Text',  serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #a7a9ac;
	margin: 0;
}

.btn-custom-1 {
	background: transparent;
	border: 1px solid #000;
	color: #000;
}

.btn-custom-1:hover,
.btn-custom-1:focus,
.btn-custom-1:active,
.btn-custom-1.active {
	background: #000;
	border-color: #000;
	color: #fff;
}

.module {
	position: relative;
	background: #fff;
	padding: 40px 0;
background-image: url('../images/bg2.png');
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
background-size: cover;
}

.module-header {
	text-align: center;
	margin: 0 0 60px;
}

/* Menu */

.menu {
	border-bottom: 1px dotted #DDD;
	padding: 0 0 10px;
	margin: 0 0 20px;
}

.menu-classic img {
	margin: 0 0 10px;
}

.menu-title,
.menu-price {
	font-size: 16px;
	margin: 0;
}

.menu-detail {
	font-size: 14px;
}

.menu-price-detail {
	position: relative;
	text-align: right;
}

.menu-label {
	background: #fae7d7;
	position: relative;
	display: inline-block;
	padding: 2px 10px 0px 10px;
	font-family: 'Crimson Text', serif;
	letter-spacing: 1px;
	font-style: italic;
	font-size: 13px;
	/*float: right;*/
	top: 5px;
}

/********************************MENU end************************************************/


/* 
---------------------------------------------
header
--------------------------------------------- 
*/
.header-area {
  position: fixed;
  top: 30px;
  left: 0px;
  right: 0px;
  z-index: 100;
  height: 100px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header-area .main-nav {
  box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
  border-radius: 40px;
  min-height: 80px;
  background: #fff;
}

.header-area .main-nav .logo {
  float: left;
  margin-top: 37px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin-left: 30px;
}

.header-area .main-nav .logo img {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header-area .main-nav .nav {
  float: right;
  margin-top: 27px;
  margin-left: 0px;
  margin-right: 30px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  z-index: 999;
}

.header-area .main-nav .nav li {
  padding-left: 20px;
  padding-right: 20px;
}

.header-area .main-nav .nav li:last-child {
  padding-right: 0px;
}

.header-area .main-nav .nav li a {
  display: block;
  font-weight: 500;
  font-size: 13px;
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  height: 40px;
  line-height: 40px;
  border: transparent;
  letter-spacing: 1px;
}

.header-area .main-nav .nav li a:hover {
  color:#F8C62F;
}

.header-area .main-nav .menu-trigger {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 23px;
  width: 32px;
  height: 40px;
  text-indent: -9999em;
  z-index: 99;
  right: 40px;
  display: none;
}

.header-area .main-nav .menu-trigger span,
.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #3B566E;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #3B566E;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
  width: 75%;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  content: "";
}

.header-area .main-nav .menu-trigger span {
  top: 16px;
}

.header-area .main-nav .menu-trigger span:before {
  -moz-transform-origin: 33% 100%;
  -ms-transform-origin: 33% 100%;
  -webkit-transform-origin: 33% 100%;
  transform-origin: 33% 100%;
  top: -10px;
  z-index: 10;
}

.header-area .main-nav .menu-trigger span:after {
  -moz-transform-origin: 33% 0;
  -ms-transform-origin: 33% 0;
  -webkit-transform-origin: 33% 0;
  transform-origin: 33% 0;
  top: 10px;
}

.header-area .main-nav .menu-trigger.active span,
.header-area .main-nav .menu-trigger.active span:before,
.header-area .main-nav .menu-trigger.active span:after {
  background-color: transparent;
  width: 100%;
}

.header-area .main-nav .menu-trigger.active span:before {
  -moz-transform: translateY(6px) translateX(1px) rotate(45deg);
  -ms-transform: translateY(6px) translateX(1px) rotate(45deg);
  -webkit-transform: translateY(6px) translateX(1px) rotate(45deg);
  transform: translateY(6px) translateX(1px) rotate(45deg);
  background-color: #3B566E;
}

.header-area .main-nav .menu-trigger.active span:after {
  -moz-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -ms-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -webkit-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  transform: translateY(-6px) translateX(1px) rotate(-45deg);
  background-color: #3B566E;
}
/*logo....................................*/

.header-area.header-sticky {
  min-height: 80px;
}

.header-area.header-sticky .logo {
  margin-top: 22px;
}

.header-area.header-sticky .nav {
  margin-top: 20px !important;
}

.header-area.header-sticky .nav li a {
  color: #1e1e1e;
}

.header-area.header-sticky .nav li a.active {
  color:#F8C62F;
}

@media (max-width: 1200px) {
  .header-area .main-nav .nav li {
    padding-left: 12px;
    padding-right: 12px;
  }
  .header-area .main-nav:before {
    display: none;
  }
}

@media (max-width: 991px) {
  .header-area {
    padding: 0px 15px;
    height: 80px;
    box-shadow: none;
    text-align: center;
  }
  .header-area .container {
    padding: 0px;
  }
  .header-area .logo {
    margin-top: 27px !important;
    margin-left: 30px;
  }
  .header-area .menu-trigger {
    display: block !important;
  }
  .header-area .main-nav {
    overflow: hidden;
  }
  .header-area .main-nav .nav {
    float: none;
    width: 100%;
    margin-top: 80px !important;
    display: none;
    -webkit-transition: all 0s ease 0s;
    -moz-transition: all 0s ease 0s;
    -o-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
    margin-left: 0px;
  }
  .header-area .main-nav .nav li:first-child {
    border-top: 1px solid #eee;
  }
  .header-area .main-nav .nav li {
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .header-area .main-nav .nav li a {
    height: 50px !important;
    line-height: 50px !important;
    padding: 0px !important;
    border: none !important;
    background: #fff !important;
    color: #3B566E !important;
  }
  .header-area .main-nav .nav li a:hover {
    background: #eee !important;
  }
}

@media (min-width: 992px) {
  .header-area .main-nav .nav {
    display: flex !important;
  }
}



/* 
---------------------------------------------
welcome
--------------------------------------------- 
*/
.welcome-area {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../images/welcome-bg.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; 
  height: 100vh;
  background-position: left top;
}

.welcome-area .header-text {
  position: absolute;
  top: 50%;
  transform: translateY(-55%);
  text-align: center;
  width: 100%;
}

.welcome-area .header-text h1 {
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
  letter-spacing: 1.4px;
  margin-bottom: 30px;
  color: #fff;
}

.welcome-area .header-text p {
  font-weight: 400;
  font-size: 15px;
  color: #fff;
  line-height: 28px;
  letter-spacing: 0.25px;
  margin-bottom: 40px;
  position: relative;
}

@media (max-width: 991px) {
  .welcome-area .header-text {
    top: 65% !important;
    transform: perspective(1px) translateY(-60%) !important;
    text-align: center;
  }
  .welcome-area .header-text h1 {
    text-align:left;
    color: #fff;
    margin-bottom: 15px;
  }
  .welcome-area .header-text p {
    text-align: left;
    color: #fff;
    margin-bottom: 20px;
  }
}

@media (max-width: 820px) {
  .welcome-area .header-text {
    top: 65% !important;
    transform: perspective(1px) translateY(-60%) !important;
  }
   .welcome-area .header-text h1 {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 15px;
  }
  .welcome-area .header-text p {
    margin-bottom: 20px;
  }
}

@media (max-width: 765px) {
  .welcome-area {
    margin-bottom: 100px;
  }
  .welcome-area .header-text {
    top: 50% !important;
    transform: perspective(1px) translateY(-50%) !important;
    text-align: center;
  }
  .welcome-area .header-text .buttons {
    display: none;
  }
  .welcome-area .header-text h1 {
    font-weight: 600;
    font-size: 24px !important;
    line-height: 30px !important;
    margin-bottom: 30px !important;
  }
  .welcome-area .header-text p {
    text-align: left;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 40px;
  }
}


/* 
---------------------------------------------
features
--------------------------------------------- 
*/
.features-small-item {
  cursor: pointer;
  display: block;
  background: #FFFFFF;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.10);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  padding: 30px;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  margin-bottom: 30px;
}

.features-small-item:hover{
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.features-small-item:hover .icon {
  background-color: #F8C62F;
}

.features-small-item .icon {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 90px;
  height: 90px;
  line-height: 90px;
  margin: auto;
  position: relative;
  margin-bottom: 30px;
  background: #FF704A;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.features-small-item .icon i {
  font-size: 18px;
  color: #fff;
}

.features-small-item .features-title {
  font-weight: 500;
  font-size: 18px;
  color: #1e1e1e;
  letter-spacing: 0.7px;
  margin-bottom: 15px;
  position: relative;
  z-index: 2;
}

.features-small-item p {
  font-weight: 400;
  font-size: 13px;
  color: #777;
  letter-spacing: 0.5px;
  line-height: 25px;
  position: relative;
  z-index: 2;
}

.features-small-item a {
  float: right;
  position: relative;
  z-index: 2;
}

.home-feature {
  padding-bottom: 0px;
  padding-top: 100px;
  margin-top: -220px;
  z-index: 9;
}

@media (max-width: 991px) {
  .home-feature {
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top: 0px;
  }
}

/* 
---------------------------------------------
contact
--------------------------------------------- 
*/


#contact-us h5 {
  font-weight: 500;
  font-size: 18px;
  color: #1e1e1e;
  letter-spacing: 0.25px;
  line-height: 26px;
}

.contact-text {
  font-weight: 400;
  font-size: 14px;
  color: #6F8BA4;
  letter-spacing: 0.6px;
  line-height: 26px;
}

.contact-text p {
  margin-bottom: 28px;
}

.contact-form input,
.contact-form textarea {
  color: #777;
  font-size: 14px;
  border: 1px solid #eee;
  width: 100%;
  height: 50px;
  outline: none;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-bottom: 30px;
}

.contact-form textarea {
  height: 150px;
  resize: none;
  padding: 20px;
}

p {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
color:#6d7680;
  line-height: 28px;
}

 .animate-border {
position: relative;
display: block;
width: 115px;
height: 3px;
background: #f56e4a; }

.animate-border:after {
position: absolute;
content: "";
width: 35px;
height: 3px;
left: 0;
bottom: 0;
border-left: 10px solid #fff;
border-right: 10px solid #fff;
-webkit-animation: animborder 2s linear infinite;
animation: animborder 2s linear infinite; }

@-webkit-keyframes animborder {
0% {
  -webkit-transform: translateX(0px);
  transform: translateX(0px); }
100% {
  -webkit-transform: translateX(113px);
  transform: translateX(113px); } }

@keyframes animborder {
0% {
  -webkit-transform: translateX(0px);
  transform: translateX(0px); }
100% {
  -webkit-transform: translateX(113px);
  transform: translateX(113px); } }

.animate-border.border-white:after {
border-color: #fff; }

.animate-border.border-yellow:after {
border-color: #F5B02E; }

.animate-border.border-orange:after {
border-right-color: #f56e4a;
border-left-color: #f56e4a; }

.animate-border.border-ash:after {
border-right-color: #EEF0EF;
border-left-color: #EEF0EF; }

.animate-border.border-offwhite:after {
border-right-color: #F7F9F8;
border-left-color: #F7F9F8; }

/* Animated heading border */
@keyframes primary-short {
0% {
  width: 15%; }
50% {
  width: 90%; }
100% {
  width: 10%; } }

@keyframes primary-long {
0% {
  width: 80%; }
50% {
  width: 0%; }
100% {
  width: 80%; } } 

.dk-footer {
padding: 75px 0 0;
background-color: #ffc1073b;
position: relative;
z-index: 2; }
.dk-footer .contact-us {
  margin-top: 0;
  margin-bottom: 30px;
  padding-left: 80px; }
  .dk-footer .contact-us .contact-info {
    margin-left: 50px; }
  .dk-footer .contact-us.contact-us-last {
    margin-left: -80px; }
.dk-footer .contact-icon i {
  font-size: 24px;
  top: -15px;
  position: relative;
  color:#f56e4a; }

.dk-footer-box-info {
position: absolute;
top: -122px;
background: #fff;
padding: 40px;
z-index: 2; }
.dk-footer-box-info .footer-social-link h3 {
  color: #fff;
  font-size: 24px;
  margin-bottom: 25px; }
.dk-footer-box-info .footer-social-link ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }
.dk-footer-box-info .footer-social-link li {
  display: inline-block; }
.dk-footer-box-info .footer-social-link a i {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  background: #000;
  margin-right: 5px;
  color: #fff; }
  .dk-footer-box-info .footer-social-link a i.fa-facebook {
    background-color: #3B5998; }
  .dk-footer-box-info .footer-social-link a i.fa-twitter {
    background-color: #55ACEE; }
  .dk-footer-box-info .footer-social-link a i.fa-google-plus {
    background-color: #DD4B39; }
  .dk-footer-box-info .footer-social-link a i.fa-linkedin {
    background-color: #0976B4; }
  .dk-footer-box-info .footer-social-link a i.fa-instagram {
    background-color: #B7242A; }

.footer-awarad {
margin-top: 285px;
display: -webkit-box;
display: -webkit-flex;
display: -moz-box;
display: -ms-flexbox;
display: flex;
-webkit-box-flex: 0;
-webkit-flex: 0 0 100%;
-moz-box-flex: 0;
-ms-flex: 0 0 100%;
flex: 0 0 100%;
-webkit-box-align: center;
-webkit-align-items: center;
-moz-box-align: center;
-ms-flex-align: center;
align-items: center; }
.footer-awarad p {
  color: #373d42;
    font-size: 18px;
    font-weight: 500;
    margin-left: 20px;
    padding-top: 15px;
    font-family: 'Raleway'; }

.footer-info-text {
margin: 26px 0 32px; }

.footer-left-widget {
padding-left: 80px; }

.footer-widget .section-heading {
margin-bottom: 35px; }

.footer-widget h3 {
font-size: 24px;
color: #343a40;;
position: relative;
margin-bottom: 15px;
max-width: -webkit-fit-content;
max-width: -moz-fit-content;
max-width: fit-content; }

.footer-widget ul {
width: 50%;
float: left;
list-style: none;
margin: 0;
padding: 0; }

.footer-widget li {
margin-bottom: 18px; }

.footer-widget p {
margin-bottom: 27px; }

.footer-widget a {
color: #878787;
-webkit-transition: all 0.3s;
-o-transition: all 0.3s;
transition: all 0.3s; }
.footer-widget a:hover {
  color: #007bff; }

.footer-widget:after {
content: "";
display: block;
clear: both; }

.dk-footer-form {
position: relative; }
.dk-footer-form input[type=email] {
  padding: 14px 28px;
  border-radius: 50px;
  background: #f8f9fa;
  border: 1px solid #2E2E2E; }
.dk-footer-form input::-webkit-input-placeholder, .dk-footer-form input::-moz-placeholder, .dk-footer-form input:-ms-input-placeholder, .dk-footer-form input::-ms-input-placeholder, .dk-footer-form input::-webkit-input-placeholder {
  color: #878787;
  font-size: 14px; }
.dk-footer-form input::-webkit-input-placeholder, .dk-footer-form input::-moz-placeholder, .dk-footer-form input:-ms-input-placeholder, .dk-footer-form input::-ms-input-placeholder, .dk-footer-form input::placeholder {
  color: #878787;
  font-size: 14px; }
.dk-footer-form button[type=submit] {
  position: absolute;
  top: 0;
  right: 0;
  padding: 6px 12px 6px 12px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 1px solid #f56e4a;
  background: #f56e4a;
  color: #fff; }
.dk-footer-form button:hover {
  cursor: pointer; }

/* ==========================

  Contact

=============================*/
.contact-us {
position: relative;
z-index: 2;
margin-top: 65px;
display: -webkit-box;
display: -webkit-flex;
display: -moz-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-webkit-align-items: center;
-moz-box-align: center;
-ms-flex-align: center;
align-items: center; }

.contact-icon {
position: absolute; }
.contact-icon i {
  font-size: 36px;
  top: -5px;
  position: relative;
  color: #007bff; }

.contact-info {
margin-left: 75px;
color: #fff; }
.contact-info h3 {
  font-size: 20px;
  color: #343a40;
  margin-bottom: 0; }

.copyright {
padding: 28px 0;
margin-top: 55px;
background-color: #202020; }
.copyright span,
.copyright a {
  color: #878787;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear; }
.copyright a:hover {
  color:#007bff; }

.copyright-menu ul {
text-align: right;
margin: 0; }

.copyright-menu li {
display: inline-block;
padding-left: 20px; }

.back-to-top {
position: relative;
z-index: 2; }
.back-to-top .btn-dark {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding: 0;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #2e2e2e;
  border-color: #2e2e2e;
  display: none;
  z-index: 999;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear; }
  .back-to-top .btn-dark:hover {
    cursor: pointer;
    background: #FA6742;
    border-color: #FA6742; }
  }